
aside {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    background: #FFF;
    /* 預設陰影 */
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25);
}

.shopping-car {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #F9F1DD;
    /* 預設陰影 */
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25);
}

.meals {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.meal {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.meal-image {
    color: #000;
    text-align: center;
    font-family: Caveat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.meal-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

.meal-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.meal-info div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.meal-info p {
    color: #000;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.order-info {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #F9F1DD;

    /* 預設陰影 */
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25);
}

.price-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.price-info div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
}

.subtotal h5 {
    color: #000;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.tax h5 {
    color: #000;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.total h5 {
    color: #000;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

aside button {
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    border-radius: 10px;
    background: #BC8341;
    color: #FFF;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}