* {
    /* border: 1px solid rgb(156, 130, 76); */
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
}

html,
body,
.myBody {
    /* overflow: hidden; */
}

html {
    background-color: #F6F4F0;
    display: flex;
    width: 100vw;
}

body {
    background-color: #F6F4F0;
    display: flex;
    width: 100vw;
    /* height: 100vh; */
}

.myBody {
    background-color: #F6F4F0;
    display: flex;
    width: 100vw;
    /* height: 100vh; */
}

nav {
    width: 150px;
    padding: 30px 0px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    z-index: 100;
    background-color: #FFF;
    display: flex;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);

}

/* 中間主要功能區 */
section {
    display: flex;
    width: 100%;
    height: 100vh;
    /* padding: 30px; */
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    /* gap: 30px; */
    overflow: hidden;
}

/* 購物車及編輯品項區 */
aside {
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    align-self: stretch;
    width: 350px;
    height: 100vh;
    gap: 10px;
    flex-shrink: 0;
    z-index: 100;
    background-color: #FFF;
    display: flex;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}

.display-none {
    display: none
}

/* 導航欄的各個連結群組 */
.nav-link-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
}

/* 導航欄連結、好像還有分類用的連結 */
.nav-link {
    display: flex;
    width: 70px;
    height: 70px;
    padding: 10px;
    flex: 0 0 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link:link,
.nav-link:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* 分類 */
.category {
    display: flex;
    width: 70px;
    height: 70px;
    padding: 10px;
    flex: 0 0 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}

.nav-link:hover,
.category:hover {
    color: white;
    background-color: rgb(206, 206, 206);
}

.category-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 標題群組 */
.title-group {
    display: flex;
    padding: 30px;
    align-items: stretch;
    align-self: stretch;
    gap: 30px;
    /* background-color: #FFF;
    z-index: 30; */
}

/* 分類群組 */
.categories {
    display: flex;
    padding: 30px;
    padding: 30px 40px;
    align-self: stretch;
    gap: 30px;
    /* background-color: #FFF;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
    z-index: 30; */
}

/* 各功能區域 */
.function {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    height: 100%;
    width: 100%;
    padding: 30px;
    gap: 30px;
    overflow-y: scroll;
}

/* 菜單群組 */
.menu {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    align-self: stretch;
}

/* 菜單各分類 */
.menu-item-list {
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

/* 品項 */
.menuItem {
    width: 175px;
    height: 150px;
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}

/* 不知道 */
.order-button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #bcab82;
    color: #ffffff;
    border: 0px none rgba(255, 255, 255, 0);
}

.order-button:hover {
    background: #928565;
    cursor: pointer
}

/* 桌號 */
.table {
    width: 200px;
    /* height: 200px; */
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}

/* 調整桌號及狀態顯示 */
.tablenumber-tablestatus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* 桌號顯示 */
.table-number {
    font-size: 48px;
    /* 或者其他你想要的大小 */
    text-align: center;
    /* 文字水平居中 */
    width: 100%;
    /* 确保<p>标签占满其父容器的宽度 */
    display: block;
    /* <p>标签默认就是块级元素，这里只是为了确认 */
    margin: auto;
}

/* 桌號按鈕 */
.table-button {
    background: #FFF;
    color: #000;
    border: 0px none rgba(255, 255, 255, 0);
}

.table-button:hover {
    background: #efefef;
    cursor: pointer;
}

.table-button[disabled] {
    color: #d1d1d1;
    cursor: not-allowed;
}

[class*="table-status-"] {
    padding: 5px 10px;
    /* margin-left: auto; */
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

.table-status-empty,
.table-status-cleaning {
    /* 空桌 */
    /* 清潔中 */
    background-color: green;
}

.table-status-ordering {
    /* 點餐中 */
    background-color: orange;
}

.table-status-other {
    /* 其他状态 */
    background-color: red;
}

/* 分隔線 */
hr {
    background: #E2CF9D;
    color: #E2CF9D;
    border: 1px solid #E2CF9D;
}

/* 訂單歷史裡面的每一張訂單簡介 */
.history-order {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 20px;
    background: #FFF;
    width: 500px;
    height: 50px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}

/* 超過後往下排 */
.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    align-self: stretch;
}

/* 各桌狀態 */
.tables {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    align-self: stretch;
}

/* 購物車內容清單 */
.cart-list-group {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
}

/* 購物車標題 */
.cart-total-group {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: #F9F1DD;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25);
}

/* 確認按鈕 */
.confirm-order-button {
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    border-radius: 10px;
    color: #ffffff;
    background: #BC8341;
    border: 0px none rgba(255, 255, 255, 0);
}

/* ??? */
.outside {
    display: flex;
    /* padding: 30px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

/* 確認子訂單頁面 訂單跟確認按鈕的群組 */
.comfirm-order-group {
    display: flex;
    min-width: 600px;
    max-width: 600px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* 查看訂單的主訂單資訊及功能按鈕區 */
.main-order-group {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    align-self: stretch;
}

/* 主訂單資訊 */
.main-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.25);
}

.go-to-order,
.edit-order,
.cancel-order,
.to-checkout {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}

.go-to-order {
    background: #5F4500;
}

.edit-order {
    background: #887239;
}

.cancel-order {
    background: #B58C24;
}

.to-checkout {
    background: #B58C24;
}

/* 超過後往下排 */
.sub-orders {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 30px;
}

/* 子訂單資訊 */
.sub-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.25);
}

.menu-list-item {
    padding: 10px;
    display: flex;
    justify-content: stretch;
    align-self: stretch;
    align-items: flex-start;
    gap: 20px;
}

.menu-item-info {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-items: stretch;
}

.edit-item-info {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

.edit-name-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    gap: 5px;
    align-self: stretch;
    flex-wrap: wrap;
}

.text-overflow {
    max-height: 70px;
    flex-grow: 1;
    /* white-space: nowrap;  文本不换行 */
    overflow: hidden;
    /* 隐藏溢出部分 */
    text-overflow: ellipsis;
    /* 使用省略号表示溢出的文本 */
}

.send-order-button {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 30px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #a7801d;
    color: #fff;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.25);
    border: 0px none rgba(255, 255, 255, 0);
}

.checkout-funtion {
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
}

.cash-payment,
.lind-pay,
.credit-card {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    border-radius: 10px;
    border: none;
    color: white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}

.cash-payment {
    background: #B58C24;
}

.lind-pay {
    background: #30B524;
}

.credit-card {
    background: #4888AC;
}

.button-group {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: stretch;
    width: 100%;
    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.calculator {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
}

.amount-charged {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 30px;
    background: #FFF;
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);

}

.change {
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.same {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    border-radius: 30px;
    background: #B58C24;
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.key-boards {
    display: flex;
    width: 309px;
    height: 411px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.key-board {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    background: #B58C24;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.create-new-item-button {
    position: fixed;
    right: 400px;
    top: 300px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 2em;
    display: flex;
    /* 使用 flexbox 进行布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    text-align: center;
    color: white;
    background: #B58C24;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
    /* 确保完全居中 */
}

.create-new-item-button:hover {
    background: #a78123;
    /* 显示指针光标 */
    outline: none;
    /* 去除焦点时的轮廓 */
}

.edit-context {
    max-width: 100%;
    margin: 10px auto;
    /* 水平居中 */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    /* 中心对齐子元素 */
}

[class*="button"] {
    border: none;
}

/* [class*="button"] */
/* 選包含button */

/* 選結尾是button */
[class$="button"]:hover {
    filter: brightness(115%);
    /* 使颜色变亮 */
}

.edit-item-button-group {
    display: flex;
    justify-content: space-between;
    /* 使按钮之间有均匀的间隔 */
    align-items: center;
    /* 垂直居中 */
    width: 100%;
    /* 确保填满父容器的宽度 */
}

.edit-button,
.delete-button {
    flex: 1;
    /* 使每个按钮弹性填充空间 */
    display: flex;
    justify-content: center;
    /* 文字居中 */
    align-items: center;
    /* 垂直居中 */
    padding: 5px 0;
    /*垂直填充，水平不填充*/
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    /* 添加手形鼠标样式 */
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}

.edit-button {
    background-color: #B58C24;
    /* 保存按钮的背景颜色 */
}

.delete-button {
    background-color: #a70000;
    /* 取消按钮的背景颜色 */
}

.edit-button-group {
    display: flex;
    justify-content: space-between;
    /* 使按钮之间有均匀的间隔 */
    align-items: center;
    /* 垂直居中 */
    width: 100%;
    /* 确保填满父容器的宽度 */
}

.save-button,
.cancel-button {
    flex: 1;
    /* 使每个按钮弹性填充空间 */
    display: flex;
    justify-content: center;
    /* 文字居中 */
    align-items: center;
    /* 垂直居中 */
    padding: 10px 0;
    /* 垂直填充，水平不填充 */
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    /* 添加手形鼠标样式 */
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}

.save-button {
    background-color: #B58C24;
    /* 保存按钮的背景颜色 */
}

.cancel-button {
    background-color: #a70000;
    /* 取消按钮的背景颜色 */
}


.title,
h1 {
    flex: 1 0 0;
    color: #000;
    font-family: "Segoe UI";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

li h1 {
    color: #000;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

li p {
    color: #000;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.horizontally {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    align-self: stretch;
}

.vertically {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.text-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .table p {
    color: #000;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
} */


/* .search {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 30px;
    background: #FFF;
} */

.chart-container {
    width: 80%;
    height: 80%;
    margin: 50px auto
}